server:
  error:
    include-stacktrace: never

spring:
  profiles:
    active: dev

  security:
    oauth2:
      client:
        registration:
          github:
            clientId: ${GITHUB_CLIENT_ID}
            clientSecret: ${GITHUB_CLIENT_SECRET}